@page "/App/Innie"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@rendermode InteractiveAuto

<div class="mx-auto container max-w-2xl">
    <EditForm Enhance="true" Model="@Model" class="flex flex-col flex-grow px-4"
              OnValidSubmit="_OnSubmit"
              FormName="CreateLinkForm">

        <DataAnnotationsValidator/>
        <ValidationSummary class="text-warning" role="alert"/>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">URL</legend>
            <InputText class="input w-full rounded-lg" @bind-Value="Model!.Url" autofocus disabled="@Loading"/>
            <ValidationMessage For="() => Model!.Url" class="text-warning"/>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Alias</legend>
            <InputText class="input w-full rounded-lg" @bind-Value="Model!.CustomAlias" disabled="@Loading"/>
            <ValidationMessage For="() => Model!.CustomAlias" class="text-warning"/>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Password</legend>
            <InputText class="input w-full rounded-lg" @bind-Value="Model!.Password" disabled="@Loading"/>
            <ValidationMessage For="() => Model!.Password" class="text-warning"/>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend">Expiration</legend>
            <InputSelect @bind-Value="Model!.Expiration" class="select w-full rounded-lg bg-base-100 text-base-content"
                         disabled="@Loading">
                <option value="@Expiration.Never">Никогда</option>
                <option value="@Expiration.SixHours">6 часов</option>
                <option value="@Expiration.OneDay">1 день</option>
                <option value="@Expiration.OneWeek">1 неделя</option>
                <option value="@Expiration.OneMonth">1 месяц</option>
                <option value="@Expiration.SixMonths">6 месяцев</option>
                <option value="@Expiration.OneYear">1 год</option>
            </InputSelect>
            <ValidationMessage For="() => Model!.Expiration"/>
        </fieldset>

        <div class="flex flex-grow"></div>

        <div class="my-4 flex justify-end">
            @if (Loading)
            {
                <span class="loading loading-spinner"></span>
            }
            <button type="submit" class="btn btn-primary rounded-lg" disabled="@Loading">
                <i class="fas fa-plus"></i>
                Создать ссылку
            </button>
        </div>
    </EditForm>
</div>

@code {

    public enum Expiration
    {
        Never,
        SixHours,
        OneDay,
        OneWeek,
        OneMonth,
        SixMonths,
        OneYear
    }

    public class ShortLinkFormModel
    {
        [Required]
        [StringLength(2000, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 3)]
        [Url(ErrorMessage = "{0} is not a valid URL")]
        public string? Url { get; set; }

        [StringLength(32, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 3)]
        public string? Password { get; set; }

        public string? CustomAlias { get; set; }

        public Expiration? Expiration { get; set; }
    }

    [SupplyParameterFromForm] private ShortLinkFormModel? Model { get; set; }

    [Parameter] public bool Loading { get; set; } = false;
    [Parameter] public EventCallback<ShortLinkFormModel> OnSubmit { get; set; }

    protected override void OnInitialized()
    {
        Model = new ShortLinkFormModel();
    }

    private void _OnSubmit()
    {
        Loading = !Loading;
        StateHasChanged();
    }

}